.topbar {
  background-color: black;
  padding: 12px 0;
}
a.nav_link {
  padding: 0 10px;
  text-decoration: none;
  color: #fff;
}
.divider {
  color: #fff;
}
.bg-white {
  padding: 20px 0;
  box-shadow: 0 0 5px rgba(50, 50, 50, .1);
}
.nav-item {
  font-weight: bold;
    text-transform: uppercase;
    margin-left: 25px;
    padding-bottom: 0;
    transition: all 0.2s ease-in-out 0s;
}

/* footer css */

.site-footer {
  background-color: #f7f7f7;
  padding: 40px 0;
}
.nav_links_footer {
  list-style: none;
  padding: 0;
}
.nav_links_footer .nav-item.nav-link {
  margin-bottom: 8px;
}