*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.topbar {
  background-color: black;
  padding: 12px 0;
}
a.nav_link {
  padding: 0 10px;
  text-decoration: none;
  color: #fff;
}
.divider {
  color: #fff;
}
.bg-white {
  padding: 20px 0;
  box-shadow: 0 0 5px rgba(50, 50, 50, .1);
}
.nav-item {
  font-weight: bold;
    text-transform: uppercase;
    margin-left: 25px;
    padding-bottom: 0;
    transition: all 0.2s ease-in-out 0s;
}

/* footer css */

.site-footer {
  background-color: #f7f7f7;
  padding: 40px 0;
}
.nav_links_footer {
  list-style: none;
  padding: 0;
}
.nav_links_footer .nav-item.nav-link {
  margin-bottom: 8px;
}

/* Stapper */

.malti-step {
  padding: 55px 0;
    margin: 0 auto;
    display: block;
    max-width: 600px;
    width: 100%;
}
.malti-step-inner {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.circle {
  padding: 10px 18px;
    background: #ccc;
    border-radius: 50%;
}
.stepper_btn {
  padding: 6px 20px;
}
.malti-step-inner::before{
  content: "";
  position: absolute;
  background-color: #bbb;
  height: 4px;
  width: 100%;
  top: 50%;
  left: 0;
  z-index: -1;
  transform: translateY(-50% );
}
.progressbar {
  background-color: var(-- line-border-fill);
  position:absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  z-index: 1;
  transition: all 0.3 ease-in;
}
.actived {
  background-color: #3a724f;
  color: #fff;
}